<html>
    <head>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="lib/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <h1> {{title}} </h1>
        <table class="table table-striped">
        	<thead>
        		<strong>
	        		<td>packet#</td>
	        		<td>temp</td>
	        		<td>gps</td>
	        		<td>pressure</td>
	        	</strong>
        	</thead>
        	<tr>
        		<td>1</td>
        		<td>18</td>
        		<td>1798.274 27473.374</td>
        		<td>335</td>
        	</tr>
        	<tr>
        		<td>2</td>
        		<td>35</td>
        		<td>2975.274 56393.374</td>
        		<td>124</td>
        	</tr>
        	<tr>
        		<td>...</td>
        		<td>...</td>
        		<td>...</td>
        		<td>...</td>
        	</tr>
        </table>
    </body>
</html>